Repository tethysplatform/tethys, pull requests merged in 2024-07, with the labels that each got.

#1062 add Azure base map & handle layer group
  .github/workflows/tethys-release.yml
  .github/workflows/tethys.yml
  docs/tethys_sdk/layouts.rst
  docs/tethys_sdk/layouts/map_layout.rst
  docs/tutorials/google_earth_engine/part_1/map_view.rst
  docs/tutorials/google_earth_engine/part_1/plot_data.rst
  docs/tutorials/google_earth_engine/part_2/clip_by_asset.rst
  docs/whats_new/prior_releases.rst
  tests/unit_tests/test_tethys_layouts/test_views/test_map_layout.py
  tethys_gizmos/gizmo_options/map_view.py
  tethys_gizmos/static/tethys_gizmos/js/tethys_map_view.js
  tethys_layouts/views/map_layout.py
Labels: maintain dependencies

#1066 Fix Docker log tailing
  docker/run.sh
Labels: docker

#1070 Changes to conf.py in preparation for RTD Addons rollout
  docs/conf.py
Labels: docs
